.SobreAHistoriaDaTenda {

    display: flex;
    flex-direction: column;
    height: auto;
    width: calc(100% 100px);
    text-align: center;
    justify-content: center;
    margin: 140px 0px 0px 0px;
    padding: 100px 50px;
    gap: 30px;

}

.TituloHistoria {

    color: black;
    font-size: 20px;
    font-family: var(--fonte-04);

}

.TextoHistoria {

    color: black;
    font-size: 15px;
    font-family: var(--fonte-01);
    

}

.TituloGaleria {

    color: black;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: var(--fonte-04);
    margin: 0px 0px 50px 0px;

}

.galeria {

    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 100px 25px;
    width: calc(100% - 50px);
    justify-content: center;
    

}

.card {

    width: 600px;
    height: calc(600px / 16 * 9);
    background: #fff;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    padding: 0.5em;
    padding-bottom: 3.4em;
    position: relative;

}

.BotaoAdicionarImagem {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--fonte-01);
    font-size: 20px;
    cursor: pointer;
    
  

}

.VerImagem {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.ExcluirImagem {

    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
    gap: 5px;
    display: none;
    z-index: 9999;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
}

.ExcluirImagem:hover {

    background-color: rgb(248, 67, 67);
   
}


.icone {

    width: 40px !important;
    height: 40px !important;

}

.iconeMenor {

    width: 20px !important;
    height: 20px !important;

}

.cardAdicionarFotoTexto {

    color: black;
    font-size: 10px;

}

.GaleriaImagem {

  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
    
}

.card img {

    object-fit: contain;
    width: 100%;
    height: 100%;
      
}

.GaleriaImagemExcluir {

    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
    gap: 5px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
}

.GaleriaImagemExcluir:hover {

    background-color: rgb(248, 67, 67);
    
}

.cardAdicionarFotoDados {

    display: flex;
    justify-content: space-between;
    margin: 10px 0px;

}

.BotaoAdicionarEnviar {

    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    background-color: #26caf8;
    cursor: pointer;
    display: none;
}

.BotaoAdicionarEnviar:hover {

    background-color: #0db7e6;
    
}

.GaleriaImagemEditar {

    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
    gap: 5px;
    background-color: #90be6d;
    cursor: pointer;

}

.GaleriaImagemEditar:hover {

    background-color: #6bb335;

}

.TituloImagem {

   margin: 20px 0px;
  color: gray;
  font-size: 10px;
  font-family: var(--fonte-01);

}

.esconder {

    display: none;

}

.erro {

    position: absolute;
    top: -120px;
    padding: 20px;
    border-radius: 8px;
    
}

.erroTipo1 {

    color: #f2cfcd;
    background: #7f1c1d;
    border-left: 8px solid #f2cfcd;
    right: 50px;
   
}

.erroTipo2 {

    color: #f5eeb9;
    background: #713f11;
    border-left: 8px solid #f5eeb9;
    right: 150px;

}

.campoEditar {

    border: none;
    outline: none;
    padding: 12px 15px;
    background-color: #ccc;
   box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
   transition: 300ms ease-in-out;
  bottom: 9px;
 position: absolute;
 width: 75px;
 font-size: 10px;

}

.campoEditar:focus {
   
    outline-offset: 5px;
    outline: 2px solid #FEBF00;
               
}

.editBtn {

  width: 34px;
  height: 34px;
  border: none;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  transition: all 0.3s;
  bottom: 10px;
  right: 10px;

}

.editBtn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: #c9c2c2;
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
  }
  .editBtn:hover::before {
    transform: scale(1);
  }
  .editBtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
  
  .editBtn svg {
    height: 15px;
    fill: black;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
  }
  .editBtn:hover svg {
    transform: rotate(-15deg) translateX(5px);
  }
  .editBtn::after {
    content: "";
    width: 25px;
    height: 1.5px;
    position: absolute;
    bottom: 10px;
    left: -90px;
    background-color: black;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
  }
  .editBtn:hover::after {
    transform: scaleX(1);
    left: 0px;
    transform-origin: right;
  }
  

.campoEditar:focus {

    outline-offset: 5px;
    background-color: #fff

}

@media (min-width: 400px) {

    .editBtn {

        bottom: 10px;
    }

}

@media (min-width: 450px) {

    .TituloHistoria {

        font-size: 30px;

    }

    .TituloGaleria {

        font-size: 30px;
        
    }

    .TextoHistoria {

        font-size: 20px;

    }

    .cardAdicionarFotoTexto {

        font-size: 14px;
    
    }

    .TituloImagem {

        font-size: 14px;

    }

    .erro {

        top: -80px;
       
    }

    .TituloGaleria {

        padding: 50px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    
    }
    

}

@media (min-width: 600px) {

    .campoEditar {

        width: 200px;
    
    }

}


@media (min-width: 1000px) {

    .TituloHistoria {

        font-size: 40px;

    }

    .TituloGaleria {

        font-size: 40px;
        
    }

    .TextoHistoria {

        font-size: 30px;

    }

    .cardAdicionarFotoTexto {

        font-size: 18px;
    
    }

    .TituloImagem {

        font-size: 18px;

    }

    .campoEditar {

        font-size: 18px;
        padding: 7px 15px;
    
    }

}
