.continerFormularioCards {

    box-shadow: inset -2px -2px 4px #e8e8e8,
    inset 2px 2px 4px rgba(0, 0, 0, 0.356);
    background: #FFFFFF;
    border-radius: 16px;
    height: auto;
    width: 70%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #8B8E98;
    margin: 50px 0px;
    position: relative;
   
    
}

.ContinerFormularioTitulo {

    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
    color:#49292e


}

.FormularioTitulo {

    font-size: 15px;
    font-family: var(--fonte-01);
   
}

.LinhaDecorativa2 {

    height: 3px;
    background: linear-gradient(45deg, #d7420d, #49292e);
    width: 150px;
    margin: auto;

}

.continerInputsFormulario {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.continerBotoesFormularios {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.TituloInput {

    font-size: 20px;
    color: black;

}

.formularioInputEstilo {

    background-color: #e8e8e8;
    padding: 10px;
   

}

.formularioInputEstilo:hover {

    background-color: white;
    padding: 10px;
    outline: 2px solid #FEBF00;
   
}

.iconeMaior {

    width: 25px;

}

.LimparFormulario {

    background-color: rgb(255, 95, 95);
    padding: 5px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: 200px;
    justify-content: center;
 

}

.LimparFormulario:hover {

    background-color: rgb(248, 67, 67);

}

.SalvarEvento {

    background-color: #26caf8;
    padding: 5px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: 200px;
    justify-content: center;

}

.SalvarEvento:hover {

    background-color: #0db7e6;
    
}

.botaoDeletarCardEvento {

    position: absolute;
    top: 0;

}

.botaoExcluirEvento {

    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;

}

.botaoExcluirEvento:hover {

    background-color: rgb(248, 67, 67);

}


.botaoEditarEvento {

    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #90be6d;
    cursor: pointer;

}

.textoCaracteres {

    margin: -10px 0px 0px 0px;

}

.botaoEditarEvento:hover {

    background-color: #6bb335;
    
}

.duvidasEventoTitulo {

    font-size: 25px;
    
}

.duvidasEventoSubtitulo {

    font-size: 20px;

}

.duvidasEventoTexto {

    font-size: 18px;

}

#fecharduvidasEvento {

    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    background-color: rgb(255, 95, 95);

}

#fecharduvidasEvento:hover {

    background-color: rgb(248, 67, 67);

}

#abrirduvidasEvento {

    position: absolute;
    right: 20px;
    top: 20px;
    background: rgb(254, 254, 0);
    font-size: 15px;
    
}

#abrirduvidasEvento:hover {

    background: rgb(173, 173, 0);
    
}

@media (min-width: 470px) {

    .continerFormularioCards {

        max-width: 80%;
        
    }

    .FormularioTitulo {

        font-size: 20px;
       
    }
    

}

@media (min-width: 750px) {

    .continerFormularioCards {

        max-width: calc(600px);
         
    }

    .FormularioTitulo {

        font-size: 25px;
       
    }

    .continerBotoesFormularios {

        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
        align-items: center;
    
    }
    

}