.carrocel {
  position: relative;
  cursor: grab;
}

.swiper-slide {
  height: 75vh !important;
  width: 100% !important;
  overflow: hidden !important;
  position: relative !important;
}

.Ilustração {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.connteudoSwiper {
  position: absolute;
  top: 50%;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  font-family: var(--fonte-01);
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.swiper-scrollbar {
  background: #e0e0e0 !important;
  border-radius: 8px !important;
  height: 8px !important;
  margin: 0px 0px 10px 0px !important;
}

.tituloSwiper {
  font-size: 80px;
  font-family: var(--fonte-04);
}

.subtituloSwiper {
  font-size: 60px;
  font-family: var(--fonte-04);
}

.TextoSwiper {
  font-size: 40px;
  font-family: var(--fonte-04);
}

@media (min-width: 1500px) {
  .swiper-slide {
    width: 100vw !important;
    height: 75vh !important;
    width: 100% !important;
    overflow: hidden !important;
    position: relative !important;
  }
  
}

@media (max-width: 700px) {
 
  .tituloSwiper {
    font-size: 20px;
 
  }
  
  .subtituloSwiper {
    font-size: 25px;
   
  }

  .TextoSwiper {
    font-size: 25px;
    font-family: var(--fonte-04);
  }
  
}
